:host {
  display: block;
}

input[type="text"][formControlName="code"] {
  letter-spacing: 0.5em;

  &:focus {
    letter-spacing: 0.5em;
  }
}


.text-error {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}